@import url("https://fonts.googleapis.com/css?family=Roboto:300");

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: auto;
  padding: 24px;
  position: relative;
}

.logo {
  margin-bottom: 24px;
}

.input-api-key {
  padding: 15px 20px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  margin: 8px 0;
}

.input-api-key:focus {
  outline: none !important;
  border-color: rgba(0, 0, 0, 0.4);
}

p {
  font-size: 10px;
  text-align: center;
}

p a {
  font-weight: bold;
  text-decoration: none;
}

.settings-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.settings-btn:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}

.settings-btn,
.settings-btn svg {
  transition: all 0.2s ease;
}

.settings-btn:hover svg {
  fill: #fff;
  transform: rotate(30deg);
}
